@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root { 
  --cor-primaria: #000000;
  --cor-secundaria:#F6F6F6;
  --cor-terciaria:#D25F7B;

  --font-primaria: 'Krona One', sans serif; 
  --font-secundaria: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.titulo-destaque{
    color: var(--cor-terciaria);
}

.apresentacao{
    padding: 3% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo{
    display: flex; 
    flex-direction: column;
    gap: 40px; 
    width: 615px;
}

.apresentacao__conteudo__titulo{
    font-size: 36px;
    font-family: var(--font-primaria); 
}

.apresentacao__conteudo__texto{
    font-size: 24px;
    font-family: var(--font-secundaria);
}

.apresentacao__links {
  align-items: center;
  display: flex; 
  gap: 32px; 
  flex-direction: column;
  justify-content: space-between;
}

.apresentacao__links__link {
  border: 2px solid var(--cor-terciaria);
  border-radius: 16px;
  color: var(--cor-secundaria);
  display: flex; 
  font-weight: 600;
  font-family: var(--font-secundaria);
  font-size: 24px;
  gap: 16px; 
  justify-content: center;
  padding: 21.5px 0;
  text-align: center;
  text-decoration: none;
  width: 280px;
}

.apresentacao__links__subtitulo {
  font-family: var(--font-primaria);
  font-size: 24px; 
  font-weight: 400px; 
}

.apresentacao__links__link:hover {
  background-color: #272727; 
}

.rodape { 
  align-items: center;
  background-color: var(--cor-terciaria); 
  font-family: var(--font-secundaria);
  font-size: 24px; 
  padding: 32px;
  text-align: center;
}

.cabecalho {
  padding: 2% 0% 0% 11%; 
}

.cabecalho__menu {
  display: flex; 
  gap: 80px; 
}

.cabecalho__menu__link {
  color: var(--cor-terciaria);
  font-family: var(--font-secundaria); 
  font-size: 24px; 
  font-weight: 600px;
  text-decoration: none; 
}

.cabecalho__menu__link:hover {
  background-color: #494646; 
}

.apresentacao__conteudo__titulo_sobre_mim {
  color: var(--cor-terciaria);
  font-family: var(--font-primaria); 
  font-size: 36px;
}

